<template>
    <div class="card-body">
        <form @submit.prevent="submitForm" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col">
                    <label for="title" class="form-label">Title:</label>
                    <input v-model="form.title" name="title" type="text" class="form-control">
                    <span id="titleHelp" class="text-danger">{{ $page.props.errors.title }}</span>
                </div>
                <div class="form-group col">
                    <label for="slug" class="form-label">Slug:</label>
                    <input v-model="form.slug" name="slug" type="text" class="form-control">
                    <span id="slugHelp" class="text-danger">{{ $page.props.errors.slug }}</span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label for="published" class="form-label">Published: ({{ form.published }})</label>
                    <input v-model="form.published" name="published" type="date" class="form-control">
                    <span id="publishedHelp" class="text-danger">{{ $page.props.errors.published }}</span>
                </div>
                <div class="form-group col">
                    <label for="author" class="form-label">Author:</label>
                    <input v-model="form.author" name="author" type="hidden">
                    <input v-model="form.authorName" name="authorName" disabled class="form-control">
                    <span id="authorHelp" class="text-danger">{{ $page.props.errors.author }}</span>
                </div>
            </div>

<!--        <div class="form-group">
                <label for="image" class="form-label">Image:</label>
                <input v-model="form.image" name="image" type="text" class="form-control" placeholder="eg: go-to-sleep.gif">
                <span id="imageHelp" class="text-danger">{{ $page.props.errors.image }}</span>
            </div>
-->

<!-- <input type="file" class="form-control" v-on:change="onChange"> -->


            <div class="sm:col-span-6">
                <label for="cover-photo" class="block text-sm font-medium text-gray-700">Featured Image</label>
                <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                    <div class="space-y-1 text-center">
                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="flex text-sm text-gray-600">
                        <label for="image" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                            <span>Upload a file</span>
                             <input id="image" name="image" type="file">
                            <!-- <input id="image" name="image" type="image" class="form-control" v-on:change="onChange"> -->
                        </label>
                        <p class="pl-1">or drag and drop</p>
                    </div>
                    <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                    </div>
                    </div>
                <span id="imageHelp" class="text-danger">{{ $page.props.errors.image }}</span>
            </div>









            <div class="form-group">
                <label for="content" class="form-label">Content:</label>
                <textarea v-model="form.content" id="content" class="form-control"></textarea>
                <span id="slugHelp" class="text-danger">{{ $page.props.errors.content }}</span>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label for="categories" class="form-label">Categories:</label>
                    <input v-model="form.categories" name="categories" type="text" class="form-control">
                    <span id="categoriesHelp" class="text-danger">{{ $page.props.errors.categories }}</span>
                </div>
                <div class="form-group col">
                    <label for="tags" class="form-label">Tags:</label>
                    <input v-model="form.tags" name="tags" type="text" class="form-control">
                    <span id="tagsHelp" class="text-danger">{{ $page.props.errors.tags }}</span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label for="status" class="form-label">Status:</label>
                    <input v-model="form.status" name="status" type="text" class="form-control">

                    <input type="radio" name="status" id="1" value="1" /> Active
                    <input type="radio" name="status" id="0" value="0" /> Disabled
                </div>
            </div>
            <div class="text-right">
               <button v-if="isReally('store')" :click="submitForm" type="submit" class="btn btn-success">Save</button>
               <button v-if="isReally('update')" :click="submitForm" type="submit" class="btn btn-success">Update</button>                    
            </div>
        </form>
    </div>
</template>

<script setup>
    import { onMounted } from 'vue';
    import { Inertia } from "@inertiajs/inertia";
    import { useForm } from '@inertiajs/inertia-vue3';

    import JetstreamLabel from '@/Jetstream/Label.vue';
    import JetstreamInput from '@/Jetstream/Input.vue';
    import JetstreamInputError from '@/Jetstream/InputError.vue';
    import JetstreamButton from '@/Jetstream/Button.vue';

    const props = defineProps({
        Post: Array,
        resource: String,
        actions: Array,
        formMeta: Object,
        user: Object,
    });

    console.log("js/components/posts/AdminForm.vue");
    console.log(props.Post);

    const { formtype } = props.formMeta;
    const { id, title, parent, published, slug, author, categories, tags, content, image, status } = props.Post;
    const resource = props.resource;

    const authID = "";
    const authDisplayName = "";

    let form = useForm({
        title: title || null,
        parent: parent || null,
        published: published || null,
        slug: slug || null,
        author: props.user.id || null,
        authorName: props.user.name || null,
        categories: categories || null,
        tags: tags || null,

        content: content || null,
        image: image || null,
        status: status || 1,

        remember: true,
    });

    function onChange(e) {
        this.file = e.target.files[0];
    }

    function submitForm() {
        if(formtype === "create") store();
        if(formtype === "edit") edit();
    }
    function store() {
        Inertia.post(route(`${resource}.store`), form);
    }

    function edit() {
        Inertia.put(`/admin/${resource}/${id}`, form);
    }

    function isReally(action) {
        return props.actions.includes(action);
    }

    onMounted(() => {
        CKEDITOR.replace('content');
    });
</script>
