<template>
    <tbody>
        <tr
            class="hover:bg-gray-200"
            v-for="{ id, title, status, slug } in data.data"
            :key="id+name"
        >
            <td class="w-3/9">
                <div>{{ title }}</div>
                <small class="text-gray-500">{{ slug }}</small>
            </td>
            <td class="w-1/9">
                <StatusButton
                    :status="status"
                />
            </td>
            <td class="w-2/9">
                <ActionButtons
                    :resource="resource"
                    :id="id"
                    :actions="actions"
                />
            </td>
        </tr>
    </tbody>
</template>

<script setup>
    import ActionButtons from "@/components/ActionButtons";
    import StatusButton from "@/components/UI/StatusButton";

    const props = defineProps({
        resource: String,
        data: Array,
        actions: Array,
    });

    function getChecklistID(checklist) {
        return (checklist) ? `(${checklist.id})` : "Undefined";
    }
</script>

<style scoped>
    span { display: block; }
</style>