<template>
    <div class="card-body">
        <form @submit.prevent="submitForm">
            <div class="row">
                <div class="form-group col">
                    <label for="title" class="form-label">Title:</label>
                    <input v-model="form.title" name="title" type="text" class="form-control">
                    <span id="titleHelp" class="text-danger">{{ $page.props.errors.title }}</span>
                </div>
                <div class="form-group col">
                    <label for="slug" class="form-label">Slug:</label>
                    <input v-model="form.slug" name="slug" type="text" class="form-control">
                    <span id="slugHelp" class="text-danger">{{ $page.props.errors.slug }}</span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label for="parent" class="form-label">Page Parent ID:</label>
                    <input v-model="form.parent" name="parent" type="text" class="form-control">
                    <span id="parentHelp" class="text-danger">{{ $page.props.errors.parent }}</span>
                </div>
                <div class="form-group col">
                    <label for="author" class="form-label">Author:</label>
                    <input v-model="form.author" name="author" type="hidden">
                    <input v-model="form.authorName" name="authorName" disabled class="form-control">
                    <span id="authorHelp" class="text-danger">{{ $page.props.errors.author }}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="image" class="form-label">Image:</label>
                <input v-model="form.image" name="image" type="text" class="form-control" placeholder="eg: go-to-sleep.gif">
                <span id="imageHelp" class="text-danger">{{ $page.props.errors.image }}</span>
            </div>

            <div class="form-group">
                <label for="content" class="form-label">Content:</label>
                <textarea v-model="form.content" id="content" class="form-control"></textarea>
                <span id="slugHelp" class="text-danger">{{ $page.props.errors.content }}</span>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label for="categories" class="form-label">Categories:</label>
                    <input v-model="form.categories" name="categories" type="text" class="form-control">
                    <span id="categoriesHelp" class="text-danger">{{ $page.props.errors.categories }}</span>
                </div>
                <div class="form-group col">
                    <label for="tags" class="form-label">Tags:</label>
                    <input v-model="form.tags" name="tags" type="text" class="form-control">
                    <span id="tagsHelp" class="text-danger">{{ $page.props.errors.tags }}</span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label for="released" class="form-label">Cardset Release Date:</label>
                    <input v-model="form.released" name="released" type="date" class="form-control">
                    <span id="releasedHelp" class="text-danger">{{ $page.props.errors.released }}</span>
                </div>
                <div class="form-group col">
                    <label for="cs_id" class="form-label">Cardset ID:</label>
                    <input v-model="form.cs_id" name="cs_id" type="text" class="form-control">
                    <span id="cs_idHelp" class="text-danger">{{ $page.props.errors.cs_id }}</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="status" class="form-label">Status:</label>
                    <input v-model="form.status" name="status" type="text" class="form-control">

                    <input type="radio" name="status" id="1" value="1" /> Active
                    <input type="radio" name="status" id="0" value="0" /> Disabled
                </div>
                <div class="form-group col text-right">
                    <button v-if="isReally('store')" :click="submitForm" type="submit" class="btn btn-success">Save</button>
                    <button v-if="isReally('update')" :click="submitForm" type="submit" class="btn btn-success">Update</button>                    
                </div>
            </div>
        </form>
    </div>
</template>

<script setup>
    import { onMounted } from 'vue';
    import { Inertia } from "@inertiajs/inertia";
    import { useForm } from '@inertiajs/inertia-vue3';

    import JetstreamLabel from '@/Jetstream/Label.vue';
    import JetstreamInput from '@/Jetstream/Input.vue';
    import JetstreamInputError from '@/Jetstream/InputError.vue';
    import JetstreamButton from '@/Jetstream/Button.vue';

    const props = defineProps({
        Page: Array,
        resource: String,
        actions: Array,
        formMeta: Object,
        user: Object,
    });

    const { formtype } = props.formMeta;
    const { id, title, parent, cs_id, slug, author, categories, tags, content, released, post_type, image, status } = props.Page;
    const resource = props.resource;

    const authID = "";
    const authDisplayName = "";

    let form = useForm({
        title: title || null,
        parent: parent || null,
        cs_id: cs_id || null,
        slug: slug || null,

        author: props.user.id || null,
        authorName: props.user.name || null,

        categories: categories || null,
        tags: tags || null,

        content: content || null,
        released: released || null,
        post_type: post_type || null,
        image: image || null,
        status: status || 1,

        remember: true,
    });

    function submitForm() {
        if(formtype === "create") store();
        if(formtype === "edit") edit();
    }
    function store() {
        Inertia.post(route(`${resource}.store`), form);
    }

    function edit() {
        Inertia.put(`/admin/${resource}/${id}`, form);
    }

    function isReally(action) {
        return props.actions.includes(action);
    }

    onMounted(() => {
        CKEDITOR.replace('content');
    });
</script>
