<template>
    <tbody>
        <tr
            class="hover:bg-gray-200"
            v-for="{ id, cs_id, title, checklist, status, slug } in data.data"
            :key="id+name"
        >
            <td class="w-3/9">
                <div>{{ title }}</div>
                <small class="text-gray-500">{{ slug }}</small>
            </td>
            <td class="w-1/9">
                <Link
                    v-if="checklist"
                    :href="getUrl(cs_id)"
                >
                    <ClipboardDocumentListIcon class="h-6 w-6" />
                </Link>

            </td>
            <td class="w-2/9">
                <StatusButton
                    :status="status"
                />
            </td>
            <td class="w-3/9">
                <ActionButtons
                    :resource="resource"
                    :id="id"
                    :actions="actions"
                />
            </td>
        </tr>
    </tbody>
</template>

<script setup>
    import { computed } from 'vue';
    import { ClipboardDocumentListIcon } from '@heroicons/vue/24/outline';
    import ActionButtons from "@/components/ActionButtons";
    import StatusButton from "@/components/UI/StatusButton";

    const props = defineProps({
        resource: String,
        data: Array,
        actions: Array,
    });

    function getUrl(id) {
        return `/admin/cardsets/edit/${id}`;
    }
</script>
