<template>
    <tbody>
        <tr
            class="hover:bg-gray-200"
            v-for="{ id, name, title, slug } in data.data"
            :key="id+name"
        >
            <td class="w-full">            
                <Link :href="getUrl(slug)">{{ title }}</Link>
            </td>
        </tr>
    </tbody>
</template>

<script setup>
    const props = defineProps({
        data: Array,
    });

    function getUrl(slug) {
        return `/pages/products/${slug}`;
    }
</script>
