<template>
    <div class="card-body">
        <h2 v-if="isTrash">Items in Trash:</h2>

        <div v-if="!hasData">
            There are currently no items in the database.
        </div>

        <table v-else class="table">
            <ListingHeader />
            <ListingItem
                :resource="resource"
                :data="data"
                :actions="actions"
            />
        </table>

        <p v-if="hasData" class="text-left">There are {{ total }} items in the database.</p>

        <div v-if="hasPaging" class="card-footer text-center">
            <Pagination :links="links" />
        </div>
    </div>
</template>

<script setup>
    import { computed } from 'vue';
    import ListingHeader from "@/components/pages/ListingHeader";
    import ListingItem from "@/components/pages/ListingItem";
    import Pagination from "@/components/Pagination";

    const props = defineProps({
        resource: String,
        data: Array,
        actions: Array,
        isTrash: Boolean,
    });

    const { links, total, last_page } = props.data;

    const hasData = computed(() => total ? true : false);
    const hasPaging = computed(() => last_page > 1 ? true : false);
    const isTrash = computed(() => props.isTrash ? true : false);
</script>
