<template>
    <div>
        <div v-if="!hasData">
            There are currently no items in the database.
        </div>

        <table v-else class="table mt-2">
            <ListingItemPublic
                :data="data"
            />
        </table>

        <div v-if="hasPaging" class="card-footer mt-4">
            <Link href="/pages/products">View more Product Pages</Link>
        </div>
    </div>
</template>

<script setup>
    import { computed } from 'vue';
    import ListingItemPublic from "@/components/pages/ListingItemPublic";

    const props = defineProps({
        data: Array,
    });

    const { total, last_page } = props.data;

    const hasData = computed(() => total ? true : false);
    const hasPaging = computed(() => last_page > 1 ? true : false);
</script>
