<template>
    <div class="flex flex-row space-x-4 py-1">
        <TheDate :date="date" />
    </div>
</template>

<script setup>
    import TheDate from "@/components/UI/CMS/TheDate";
    
    const props = defineProps({
		date: String,

        product: Array,
    });
</script>
