<template>
    <button>
        <slot></slot>
    </button>
</template>

<style scoped>
    button {
        --main-dark-bg: #134670;
        --main-light-bg: #1b619b;
    }

    button {
        font: inherit;
        border: 1px solid var(--main-light-bg);
        background-color: var(--main-light-bg);
        color: white;
        padding: 0.25rem 1rem;
        cursor: pointer;
        border-radius: 3px;

        display: inline-block;
        margin: .25em;
        line-height: 2;
    }

    button:hover,
    button:active {
        background-color: var(--main-dark-bg);
        border-color: var(--main-dark-bg);
    }
</style>