<template>
    <Link
        class="bg-inherit hover:bg-off-white hover:text-nav-fg inline-block p-6 my-2"
        :class="{
            'bg-nav-activebg': ((currentUrlLength == 1 && link.anchor == 'Home') || (link.slug.length > 1 && $page.url.startsWith(link.slug))),
            'text-nav-activefg': ((currentUrlLength == 1 && link.anchor == 'Home') || (link.slug.length > 1 && $page.url.startsWith(link.slug))) 
        }"
        :href="link.slug"
    >
        {{ link.anchor }}
    </Link>
</template>

<script setup>
    const currentUrlLength = window.location.pathname.length;

    const props = defineProps({
        link: Object,
    });
</script>
