<template>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-3">
        <div class="sm:col-span-3">
            <label for="street1" class="block text-sm font-medium text-gray-700">Address Line 1</label>
            <div class="mt-1">
                <input type="text" id="street1" name="street1" autocomplete="street-street1" 
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
            </div>
        </div>

        <div class="sm:col-span-3">
            <label for="street2" class="block text-sm font-medium text-gray-700">Address Line 2</label>
            <div class="mt-1">
                <input type="text" id="street2" name="street2" autocomplete="street-street2" 
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
            </div>
        </div>

        <div>
            <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                <div class="mt-1">
                    <input type="text" id="city" name="city" autocomplete="address-level2" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                </div>
            </div>

        <div>
            <label for="state" class="block text-sm font-medium text-gray-700">State / Province</label>
            <div class="mt-1">
                <input type="text" id="state" name="state" autocomplete="address-level1" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
            </div>
        </div>

        <div>
            <label for="postal-code" class="block text-sm font-medium text-gray-700">Postal code</label>
            <div class="mt-1">
                <input type="text" id="postal-code" name="postal-code" autocomplete="postal-code" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
            </div>
        </div>
    </div>

</template>



<script setup>
    import { Inertia } from "@inertiajs/inertia";
    import { useForm } from '@inertiajs/inertia-vue3';

    import JetstreamLabel from '@/Jetstream/Label.vue';
    import JetstreamInput from '@/Jetstream/Input.vue';
    import JetstreamInputError from '@/Jetstream/InputError.vue';
    import JetstreamButton from '@/Jetstream/Button.vue';

    const props = defineProps({
        Data: Object,
        Address: Object,
        resource: String,
//        formMeta: Object,
    });


    console.log("components/UI/AddressForm.vue");
    console.log(props.Data);

//    const { formtype } = props.formMeta;
    const { id, name, company = "", type, street1, street2, city, state, zip, country, phone, email } = props.Address;
    const resource = props.resource;

    /* let form = useForm({
        name: name || '',
        company: company || '',
        type: type || '',

        street1: street1 || '',
        street2: street2 || '',
        city: city || '',
        state: state || '',
        zip: zip || '',
        country: country || '',
        phone: phone || '',
        email: email || '',

        remember: true,
    }); */

    function submitForm() {
//        if(formtype === "create") store();
  //      if(formtype === "edit") edit();

        store();
    }
    function store() {
        Inertia.post(route(`${resource}.store`), form);
    }

    function edit() {
        Inertia.put(`/admin/${resource}/${id}`, form);
    }

    


</script>