<template>
    <button
        :style="theStyles"
        class="mx-1 btn-info btn-sm" 
    >
        <slot>{{ theStatus }}</slot>
    </button>

</template>

<script setup>
    import { ref, reactive } from 'vue';

    const props = defineProps({
        status: Boolean,
    });

    const arrStyles = {
        "published": {
            title: "Published",
            title2: {
                cms: "Published",
                all: "Active"
            },
            styles: {
                backgroundColor: "forestgreen",
                color: "white",
                //colorHover: "purple",
                //colorBackdHover: 'pink',
            }

        },
        "draft": {
            title: "Draft",
            title2: {
                cms: "Draft",
                all: "Disabled"
            },
            styles: {
                backgroundColor: "darkgray",
                color: "lightgrey",
                //colorHover: "purple",
                //colorBackdHover: 'pink',
            }
        },
    };

    const theStatus = (props.status === 1) ? arrStyles.published.title : arrStyles.draft.title;
    const theStyles = (props.status === 1) ? arrStyles.published.styles : arrStyles.draft.styles;
</script>

<style scoped>
    button {
        padding: 0.25rem 1rem;
        cursor: pointer;
        border-radius: 3px;

        display: inline-block;
        margin: .25em;
        line-height: 2;
    }

    button:hover {
        background-color: var(--main-dark-bg);
        border-color: var(--main-dark-bg);
    }
</style>