<template>
    <h2>
        {{ Object.keys(items).length }} Hockey Card {{ pageType }}
    </h2>
</template>

<script setup>
    const props = defineProps({
        items: Array,
        pageType: String,
    });
</script>
