<template>
    <public-layout>
        <Head>
            <title>{{ pageTitle }}</title>
            <meta name="description" content="Your page description">
        </Head>

        <div class="full flex-1">
            <PageTitle :start="start" :finish="finish" />

            <div class="flex">
                <div class="w-1/2">
                    <h3>Blog Posts:</h3>

                    <PostsListingHomePage
                        :data="Posts"
                    />
                </div>
                <div class="w-1/2">
                    <h3>Product Pages:</h3>

                    <PagesListingHomePage
                        :data="Pages"
                    />
                </div>
            </div>
        </div>
    </public-layout>
</template>


<script setup>
    import PostsListingHomePage from "@/components/posts/ListingHomePage";
    import PagesListingHomePage from "@/components/pages/ListingHomePage";
   
    const props = defineProps({
        Pages: Array,
        Posts: Array,
    });

    const start = "Welcome to";
    const finish = "hockey-cards.ca";
    const pageTitle = `{$start} {$finish}`;
</script>
