<template>
    <public-layout>
        <Head>
			<title>{{ pageTitle }}</title>
			<meta name="description" content="Your page description">
		</Head>

        <div class="w-full">
            <PageTitle :start="start" :finish="finish" />

            <MetaInfo
                :published="published"
                :author="author"
                :tags="tags"
                :categories="categories"
            />
        
            IMAGE:<br />
            {{ getFeaturedImage }}
            <!--  <img  src="images/" + blog.featuredimage }} alt=" " /> -->
            <hr />
        
            <div v-html="getContent"></div>
        
            <span className="glyphicon glyphicon-heart-empty"></span> Share
        
            <hr />

            <div class="flex flex-row">
        
                <div class="flex">
                    <h4>Blog Category:</h4>
                    
                    <ul className="product-page-tags">
                        <li><a href="/taxonomy/term/85" alt="Score">Score</a></li>
                        <li><a href="/taxonomy/term/86" alt="Blaster Box">Blaster Box</a></li>
                        <li><a href="/taxonomy/term/20" alt="Hockey Cards">Hockey Cards</a></li>
                        <li><a href="/taxonomy/term/82" alt="box break">box break</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Blog Tags:</h4>
                    
                    <ul className="product-page-tags">
                        <li><a href="/taxonomy/term/85" alt="Score">Score</a></li>
                        <li><a href="/taxonomy/term/86" alt="Blaster Box">Blaster Box</a></li>
                        <li><a href="/taxonomy/term/20" alt="Hockey Cards">Hockey Cards</a></li>
                        <li><a href="/taxonomy/term/82" alt="box break">box break</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </public-layout>
</template>

<script setup>
    import { computed } from 'vue';
    import MetaInfo from "@/components/UI/CMS/MetaInfo";

    const props = defineProps({
        Data: Object,
    });

    const { title, author, published, tags, categories } = props.Data.Post;

    const start = title;
    const finish = "Blog";
    const pageTitle = `{$start} {$finish}`;

    const getFeaturedImage = computed(() => `<img class="w-22" src="images/${props.Data.Post.featuredimage}" alt="" />`);
    const getContent = computed(() => props.Data.Post.content);
</script>
