<template>
    <public-layout>
        <Head>
			<title>{{ pageTitle }}</title>
			<meta name="description" content="Your page description">
		</Head>
        
        <div class="w-full">
            <PageTitle :start="start" :finish="finish" />
            
            <BlogListingItem
                v-for="Post in Data.Posts.data"
                :key="Post.id"
                :Post="Post"
            />

            <BasePagination>
				<Pagination :links="links" />
			</BasePagination>

        </div>
    </public-layout>
</template>

<script setup>
    import BlogListingItem from '@/components/blog/BlogListingItem';

    const props = defineProps({
        Data: Array
    });

    const start = "Hockey Card Collecting";
    const finish = "Blog";
    const pageTitle = `{$start} {$finish}`;

    const links = props.Data.Posts.links;
</script>
