<template>
    <admin-layout>
        <template v-slot:pageTitle>
            {{ pageTitle }}
        </template>

        <AdminForm
            :Post=[]
            :resource="resource"
            :id=null
            :actions="actions"
            :formMeta="formMeta"
            :user="user"
        />
    </admin-layout>
</template>

<script setup>
    import { usePage } from '@inertiajs/inertia-vue3';
    import AdminForm from "@/components/posts/AdminForm";

    if (!usePage().props.value.user) {
        window.location.href = "/login";
    }

    const props = defineProps({
/*         Cards: Array,
        Sports: Array,
        Companies: Array,
        Seasons: Array, */
        Data: Array,
        user: Object,
        formMeta: Array,
    });

    const pageTitle = "Add new Post";
    const actions = ["store"];
    const resource = "posts";

    const formMeta = {
        formtype: "create",
        formTitle: "Create Post",
    };
</script>
