<template>
    <div v-if="isPageable">
        <div class="flex flex-wrap">
            <template v-for="(link, key, index) in links">
                <div
                    v-if="link.url === null"
                    :key="key+index"
                    class="mr-1 mb-1 px-2 py-1 text-sm leading-4 text-gray-400 border rounded"
                    v-html="link.label"
                />
                <Link
                    v-else
                    :key="key+index"
                    class="mr-1 mb-1 px-2 py-1 text-sm leading-4 border rounded hover:bg-white focus:border-indigo-500 focus:text-indigo-500"
                    :class="{ 'bg-white': link.active }"
                    :href="link.url"
                    v-html="link.label"
                />
            </template>
        </div>
    </div>
</template>

<script setup>
    import { computed } from 'vue';

    const props = defineProps({
        links: Array,
    });

    const isPageable = computed(() => props.links.length > 3);
</script>

<!-- from: https://github.com/inertiajs/pingcrm/blob/master/resources/js/Shared/Pagination.vue -->