<template>
    <section class="mx-0 my-6 px-2 py-2 bg-blue-300">
        <div class="flex flex-row">
            <div class="w-2/3 flex flex-col">

                <div class="flex flex-row">
                    <Link :href="getBlogPostLink">
                        <h1>{{ title }}</h1>
                    </Link>
                </div>

                <MetaInfo
                    :published="published"
                    :author="author"
                    :tags="tags"
                    :categories="categories"
                />

                <p v-html="getBlogPostContent" class="py-2 text-sm"></p>
        
                <Link :href="getBlogPostLink">
                    <BaseButton class="ml-0">Continue Reading </BaseButton>
                </Link>
            </div>
            <div class="w-1/3 flex flex-col flex-1 border-solid border-2 border-sky-500 p-2">
                Featured Image
                <!--<hr>

                 <img class="" src="http://placehold.it/350x150" alt="">
                <img src="https://via.placeholder.com/350x150" /> -->
            </div>
        </div>

    </section>
</template>

<script setup>
    import { computed } from 'vue';
    import { Link } from '@inertiajs/inertia-vue3'
    import MetaInfo from "@/components/UI/CMS/MetaInfo";

    const props = defineProps({
        Post: Object,
    });

    const { title, author, published, tags, categories } = props.Post;

    const getBlogPostLink = computed(() => `/blog/${props.Post.slug}?id=${props.Post.id}`);
    const getBlogPostContent = computed(() => props.Post.content.substring(0, 250));
</script>
