<template>
    <div className="content-body">
        <a :href="blogposturl">
            <h1>{{ posttitle }}</h1>
        </a>

        <p className="lead">
            Posted by: <a :href="blogauthorurl">Jakey</a>
        </p>

        <p>
            <span className="glyphicon glyphicon-time"></span> Posted on: {{ postdate }}
        </p>

        <img className="img-responsive" :src="postimage" alt="" />

        <p>{{ postexcerpt.rendered }}</p>

        <p>
            <a className="btn btn-primary" :href="blogposturl">
                Continue Reading <span className="glyphicon glyphicon-chevron-right"></span>
            </a>
        </p>

        <BlogPostTags tags={{ posttags }} />

        <hr className="clearfix" />
    </div>
</template>

<script>
    import PublicLayout from '@/Layouts/public/PublicLayout';
    import BlogPostTags from '@/Layouts/BlogPostTags';
    
    export default {
        props: ['slug', 'id'],
        components: {
            PublicLayout,
            BlogPostTags
        },
        mounted() {
//            let { blogposturl, posttitle, blogauthorurl, postdate, posttags, postexcerpt } = props.postmeta;
//            posttags = ("ASP", "PHP", "JavaScript");
//            let postimage = "FIX ME!";
        },

    }
</script>

<style>

</style>