<template>
We are included
    <TheDate :date="date" /> date
    <TheAuthor :author="author" />
    <TheTags :tags="tags" />
    <TheCategories :categories="categories" />
</template>

<script setup>
    import TheDate from "@/components/UI/CMS/TheDate";
    import TheAuthor from "@/components/UI/CMS/TheAuthor";
    import TheTags from "@/components/UI/CMS/TheTags";
    import TheCategories from "@/components/UI/CMS/TheCategories";
    
    const props = defineProps({
		date: String,
        author: String,
        tags: String,
        categories: String,
    });
</script>
