<template>
    <div className="content-body">
        <h1>{{ pageTitle }}</h1>
        <h1>{{ blogpostFull.title.rendered }}</h1>
        
        <div>
            <p className="lead">
                <img alt=""
                    src="/images/"
                /> 
                authored by <a href="">
                {{ blogpostFull._embedded.author[0].name }}
                </a>
            </p>
            <hr />

            <p><span className="glyphicon glyphicon-time"></span> Posted {{ blogpostFull.date }}</p>
            <hr />
        
            IMAGE:<br />
            <img className="img-responsive" src={{ "images/" + blogpostFull.featuredimage }} alt=" " />
            <hr />
        
            <div dangerouslySetInnerHTML={{__html: blogpostFull.content.rendered }}></div>
        
            <span className="glyphicon glyphicon-heart-empty"></span> Share
        
            <br /><br />
        
            <strong>Blog Category:</strong>
            <br />
            <ul className="product-page-tags">
                <li><a href="/taxonomy/term/85" alt="Score">Score</a></li>
                <li><a href="/taxonomy/term/86" alt="Blaster Box">Blaster Box</a></li>
                <li><a href="/taxonomy/term/20" alt="Hockey Cards">Hockey Cards</a></li>
                <li><a href="/taxonomy/term/82" alt="box break">box break</a></li>
            </ul>  
        
            <strong>Blog Tags:</strong>
            <br />
            <ul className="product-page-tags">
                <li><a href="/taxonomy/term/85" alt="Score">Score</a></li>
                <li><a href="/taxonomy/term/86" alt="Blaster Box">Blaster Box</a></li>
                <li><a href="/taxonomy/term/20" alt="Hockey Cards">Hockey Cards</a></li>
                <li><a href="/taxonomy/term/82" alt="box break">box break</a></li>
            </ul>

            <hr />
        
            Comments go Here!
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pagetitle: "Hockey Card Collecting <small> Blog</small>",
            }
        },
    }
</script>
