<template>
    <BlogTagBadge
        class="px-2 m-0 mr-2"
        v-for="tag, index in tags"
        :key="index+tag"
    >{{ tag }}</BlogTagBadge>
</template>

<script setup>
    // CSS: class="py-2 my-2"

    // import { CalendarIcon, UserIcon } from '@heroicons/vue/24/outline'
    import BlogTagBadge from './BlogTagBadge.vue'

    const props = defineProps({
        tags: {
            type: Object,
            required: true
        }
    })
</script>

<style>

</style>