<template>
    <div class="flex flex-row space-x-4 py-1">
        <TheDate :published="published" />
        <TheAuthor :author="author" />
        <TheCategories :categories="categories" />
        <TheTags :tags="tags" />
    </div>
</template>

<script setup>
    import TheDate from "@/components/UI/CMS/TheDate";
    import TheAuthor from "@/components/UI/CMS/TheAuthor";
    import TheCategories from "@/components/UI/CMS/TheCategories";
    import TheTags from "@/components/UI/CMS/TheTags";
    
    const props = defineProps({
		published: Date,
        author: String,
        tags: String,
        categories: String,
    });
</script>
