<template>
    <p class="flex text-xs">
        <span class="flex flex-col justify-center items-center">
            <UserIcon class="h-3 w-3 inline text-main-dark" aria-hidden="true" />
        </span>
        <span class="flex flex-col justify-center items-center p-1">
            <a href="index.php">{{ author }} (aka: Jake)</a>
        </span>
    </p>
</template>

<script setup>
    import { UserIcon } from '@heroicons/vue/24/outline';

    const props = defineProps({
		author: String,
    });
</script>
