<template>
    <p class="flex text-xs">
        <span class="flex flex-col justify-center items-center">
            <FolderIcon class="h-3 w-3 inline text-main-dark" aria-hidden="true" />
        </span>
        <span class="flex flex-col justify-center items-center p-1">
            {{ categories }}
        </span>
    </p>
</template>

<script setup>
    import { FolderIcon } from '@heroicons/vue/24/outline';

    const props = defineProps({
		categories: String,
    });
</script>