<template>
    <p class="flex text-xs">
        <span class="flex flex-col justify-center items-center">
            <CalendarIcon class="h-3 w-3 inline text-main-dark pr-0" aria-hidden="true" />
        </span>
        <span class="flex flex-col justify-center items-center p-1">
            {{ formattedDate }}
        </span>
    </p>
</template>

<script setup>
    import { computed } from 'vue';
    import { CalendarIcon } from '@heroicons/vue/24/outline';

    const props = defineProps({
		published: Date,
    });



    const formattedDate = computed(() => new Date(props.published).toLocaleDateString('en-us', { weekday: "long", year: "numeric", month: "short", day: "numeric" }));

</script>
