<template>
    <td :class="allStyles" 
        class="p-2 m-2 text-sm border px-2 py-2"
    >
        <slot></slot>
    </td>
</template>

<script setup>
    const props = defineProps({
        styles: { type: String, default: ' border px-2 py-2 text-sm' },

        bgColor: { type: String, default: ' bg-fun-blue-300' },
        fgColor: { type: String, default: ' text-black' },
    });

    let allStyles = `${props.styles} ${props.bgColor} ${props.fgColor}`;
</script>