<template>
    <thead :class="allStyles" 
        class="bg-nav-bg"
    >
        <slot></slot>
    </thead>
</template>

<script setup>
    const props = defineProps({
        styles: { type: String, default: ' border px-2 py-2 text-sm' },

        bgColor: { type: String, default: ' bg-fun-blue-300' },
        fgColor: { type: String, default: ' text-black' },
    });

    let allStyles = `${props.styles} ${props.bgColor} ${props.fgColor}`;
</script>