<template>
    <th :class="styles+bgColor+fgColor" 
        class="border px-3 py-3 text-xs font-bold uppercase text-nav-fg"
    >
        <slot></slot>
    </th>
</template>

<script setup>
    const props = defineProps({
        styles: { type: String, default: ' ' },

        bgColor: { type: String, default: ' bg-nav-bg' },
        fgColor: { type: String, default: ' text-nav-fg' },
    });
</script>