<template>
    <tr :class="allStyles"
        class=""
    >
        <slot></slot>
    </tr>
</template>

<script setup>
    const props = defineProps({
        bgColor: { type: String, default: ' bg-fun-blue-200' },
        fgColor: { type: String, default: ' text-black' },

        styles: { type: String, default: ' hover:bg-gray-300' },

    });

    let allStyles = `${props.styles} ${props.bgColor} ${props.fgColor}`;
</script>