<template>
    <admin-layout>
        <template v-slot:pageTitle>
            {{ pageTitle }}
        </template>

        <AdminForm
            :Page=[]
            :resource="resource"
            :actions="actions"
            :formMeta="formMeta"
            :user="user"
        />
    </admin-layout>
</template>

<script setup>
    import { usePage } from '@inertiajs/inertia-vue3';
    import AdminForm from "@/components/pages/AdminForm";

    if (!usePage().props.value.user) {
        window.location.href = "/login";
    }

    const props = defineProps({
/*         Data: Array,
        Sports: Array,
        Companies: Array,
        Seasons: Array,
 */        user: Object,
        formMeta: Array,
    });

    const pageTitle = "Add new Page";
    const actions = ["store"];
    const resource = "pages";

    const formMeta = {
        formtype: "create",
        formTitle: "Create Page",
    };
</script>
