<template>
    <admin-layout>
        <template v-slot:pageTitle>
            {{ pageTitle }}
        </template>

        <AdminForm
            :Page="Data.Page"
            :resource="resource"
            :id="id"
            :actions="actions"
            :formMeta="formMeta"
            :user="user"
        />
    </admin-layout>
</template>

<script setup>
    import { usePage } from '@inertiajs/inertia-vue3';
    import AdminForm from "@/components/pages/AdminForm";

    if (!usePage().props.value.user) {
        window.location.href = "/login";
    }

    const props = defineProps({
        Data: Array,
        user: Object,
    });

    const pageTitle = `Edit Page: ${props.Data.Page.title}`;
    const actions = ["update"];
    const resource = "pages";

    const formMeta = {
        formtype: "edit",
        formTitle: "Edit Page",
    };
</script>
