<template>
    <admin-layout>
        <template v-slot:pageTitle>{{ pageTitle }}</template>

        <template v-slot:createButton>
            <Link :href="getCreatUrl">Add New</Link>
        </template>

        <Link :href="getCreatUrl"><BaseButton>Add New</BaseButton></Link>

        <Listing
            :resource="resource"
            :data="Data.Pages"
            :actions="actions"
            :isTrash=false
        />

        <Listing
            :resource="resource"
            :data="Data.Trash"
            :actions="trashActions"
            :isTrash=true
        />
    </admin-layout>
</template>


<script setup>
    import { usePage } from '@inertiajs/inertia-vue3';
    import { computed } from 'vue';
    import Listing from "@/components/pages/Listing";
    
    if (!usePage().props.value.user) {
        window.location.href = "/login";
    }

    const props = defineProps({
        Data: Array,
    });

    const pageTitle = "Pages Listing";
    const resource = "pages";

    const actions = ["edit", "trash"];
    const trashActions = ["restore", "delete"];

    const getCreatUrl = computed(() => `/admin/${resource}/create`);
</script>
