<template>
    <public-layout>
        <Head>
            <title>{{ pageTitle }}</title>
            <meta name="description" content="Your page description">
        </Head>

        <div class="w-full">
            <PageTitle :start="start" :finish="finish" />

            <div class="flex flex-col flex-1">
                <div class="flex flex-row">
                    <div class="w-2/3 flex">
                        <section v-html="productDetails"></section>
                    </div>

                    <div class="w-1/3 flex flex-col border-solid border-2 border-blue-400 p-2">
                        <div v-if="released" class="mb-2">
                            <CalendarIcon class="h-6 w-6 inline-block" />  {{ released }}
                        </div>
                        <div  v-if="cs_id > 0" class="mb-2">
                            <Link :href="getUrl(slug_cl)">
                                <ClipboardDocumentListIcon class="h-6 w-6 inline-block" /> Checklist
                            </Link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </public-layout>
</template>

<script setup>
    import { CalendarIcon, ClipboardDocumentListIcon } from '@heroicons/vue/24/outline';

    const props = defineProps({
        Data: Object,
    });

    const { title, cs_id, released, slug } = props.Data.Page;
    const slug_cl = (props.Data.Page.checklist) ? props.Data.Page.checklist.slug: 0;

    const start = title;
    const finish = "";
    const pageTitle = `{$start} {$finish}`;

    const productDetails = props.Data.Page.content
        .replace(/<ul>/g,`<ul role="list" class="marker:text-orange-400 list-disc pl-5">`)
        //.replace(/<li>/g,`<li class="">`)
        .replace(/<strong>/g,`<strong class="mt-8">`)
    ;

    function getUrl(slug_cl) {
        return `/checklists/checklist/${slug_cl}`;
    }
</script>
