<template>
    <public-layout>
        <Head>
			<title>{{ pageTitle }}</title>
			<meta name="description" content="Your page description">
		</Head>

        <div class="w-full">
            <PageTitle :start="start" :finish="finish" />

            <ul>
                <li
                    v-for="product in products"
                    :key="product.id"
                >
                    <Link class="btn-indigo" :href="`/pages/products/${product.slug}?page=${product.id}`">
                        <BaseButton>{{ product.title }}</BaseButton>
                    </Link>                        
                </li>
            </ul>

            <ItemSummary :items="products" :pageType="pageType" />
        </div>
    </public-layout>
</template>

<script setup>
    import ItemSummary from "@/components/UI/Footers/ItemSummary.vue"

    const props = defineProps({
        Data: Object,
    });

    const start = "Hockey Card";
    const finish = "Products";
    const pageTitle = `{$start} {$finish}`;

    const pageType = "Products";
    const products = props.Data.Pages;
</script>